/* CSS RESET - meyerweb.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


body { 
	font-family: Roboto, Sans-serif; 
	background-color: #D4FABE; /*#f5e34752;*/
	color: #7d6969; /*#716c6c; #7d6969*/
}

p {
	color: black;
}

li {
	color: #5e2121;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}


/*
	light-brown: #d2a67e;
	brown: #D28238;
	lighter-gray: #D9D9D9;
	light-gray: #CCCACA;
	light-green: #D4FABE;
	lighter-red: #EDAEAE;
	light-red: #E99797;
	violet: #9290F8;
	yellow: #F6D493;
	border: background: radial-gradient(#ac7732 5%, #d19341 1%,  #b1762a 1%, #874e03);
	and book-images.......
	<a target="_blank" href="https://icons8.com/icon/119436/book">Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
*/
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.7rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}


.div-shelf-support-top {
	background-color: #b9afaf;
	width: 97%;
	/* max-width: 475px; */
	height: 15px;
	margin: auto;
	border-radius: 5px;
}
.div-shelf-support-bottom {
	background-color: #b9afaf;
	width: 94%;
	max-width: 413px;
	height: 15px;
	margin: auto;
	border-radius: 5px;
}

.header {
	background-color: transparent; /* #1F2937;*/
	display: flex;
	justify-content: space-around;
	align-items: end;
	width: 98%;
	margin: auto;
}

.header__logo {
	background-color: #E99797;
	font-size: 1.2rem;
	margin-left: 3px;
	padding: 18px 2px;
}

.header__navbar {
	display: flex;
	justify-content: space-around;
}

.header__navbar li {
	background-color: #b9afaf; /*#D9D9D9;*/
	font-size: 1.2rem;
	margin-left: 4px;
	padding: 2px 2px 0 2px;
}
.header__navbar li:nth-child(2) {
	background-color: #9290F8;
}
.header__navbar li:nth-child(4) {
	background-color: #F6D493;
	margin-right: 3px;
}


.header__navbar a:hover, .footer__link a:hover {
	color: #3882F6; /*#49a6e9;*/
}


.description-section__app-title {
	color: #5e6e5d; /* #5F7E7D;*/
	
}
.description-section__app-title span {
	color: #9290F8;
	font-size: 2.6rem;
	font-weight: bold;
}

.description-partition, .form-partition, .booklist-partition {
	background: radial-gradient(#ac7732 5%, #d19341 1%,  #b1762a 1%, #874e03);
	border-radius: 5px;
	margin: auto;
	padding: 16px 0;
}

.description-partition {
	width: 74%;
	min-width: 244px;
	max-width: 274px;
	margin-top: 0.5px;
	margin-bottom: 110px;
}

.form-partition {
	margin-bottom: 110px;
	width: 96%;
	max-width: 331px;
}

.booklist-partition {
	width: 96%;
	max-width: 420px; /*420 + 331 */
	max-height: 490px;
	overflow: auto;
	margin-bottom: 0.5px;
}

.inner-shelf-ornament {
	background-color: #EDAEAE;
	height: 10px;
	/*margin: 5px 0 2px 0;*/
}

.div-wall-ornament {
	background-color: #F6D493;
	width: 64%;
	max-width: 221px;
	height: 10px;
	margin: auto;
}


.book-stack-icon {
	display: block;
	margin: auto;
	text-align: center;
}
.book-stack-icon a {
	color: #b9afaf;
}
.book-stack-icon a:hover {
	text-shadow: 2px 2px white;
}

.div-wall-ornament-acute1 {
	background-color: #F6D493;
	width: 74%;
	height: 10px;
	margin: 0 auto 10px;
	border-radius: 4px;
}
.div-wall-ornament-acute2 {
	background-color: #F6D493;
	width: 64%;
	height: 10px;
	margin: 0 auto 10px;
	border-radius: 4px;
}
.div-wall-ornament-acute3 {
	background-color: #F6D493;
	width: 34%;
	height: 10px;
	margin: 0 auto 160px;
	border-radius: 4px;
}

.shelves {
	background-color: white; /*#b9afaf #f3c176;*/
	width: 90%;
	border-radius: 2px;
	margin: auto;
	padding: 4px 0;
}

.description-shelf {
	padding: 8px;
	text-align: center;
	border: 2px solid #a18e72;
	border-radius:12px;
}

.required-field {
	color: #e02525;
}

.form-validation {
	color: #efb1b1;
	font-weight: bold;
	background-color: #cccaca2e; /*#CCCACA;*/
	text-align: center;
	width: 290px;
	height: 110px;
	margin: auto;
	padding: 6px;
	border-radius: 4px;
	position: relative;
	bottom: 25px;
	
	display: none;
}
.form-validation p {
	color: #efb1b1;
	font-weight: bold;
	margin-top: 5px;
	line-height: 30px;
}

.form-shelf {
	display: block;
	width: 90%;
	margin: auto;
}

.form-shelf__desc {
	color: #695425;
	text-align: center;
	margin: 10px 0 30px;;
}

.form-shelf label {
	color: #5e4c4c;
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.form-shelf input[type="text"] {
	display: block;
	width: 100%;
	margin: 5px 0 20px 0;
}

.form-shelf input[type="number"] {
	width: 25%;
	margin-bottom: 10px;
}

.form-shelf input[type="checkbox"] {
	margin-bottom: 35px;
}

.form-btn {
	display: block;
	margin: 0 auto 10px;
	
}


.book {
	background-color: #484787; /*#E99797; #6c2f2f;*/
	margin: 0 4px 5px;
	display: flex;
	align-items: center;
	min-height: 108px;
	max-height: 108px;
	border: 2px solid #9c6006;
	border-radius:12px;
}

.book:last-child {
	margin-bottom: 0;
}

.book img {
	width: 54px;
	height: 54px;
}

.book div {
	margin-left: 10px;
}

.book h3 {
	color: #F6D493; /*#af5959;*/
	margin-bottom: 2px;
}

.book h5 {
	color: #b9afaf;
	margin-bottom: 6px;
}

.book p {
	color: #8f8c8c; /*#9290F8;*/
	font-size: 0.9rem;
	margin-bottom: 2px;
}


.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 6px 0 10px;
	max-width: 413px;
	margin: auto;
}

.footer__link {
	color: #30495e;
	background-color: #b9afaf; /*#D9D9D9;*/
	font-size: 1.1rem;
	padding: 0 6px 4px 6px;
	border-radius: 10px;
	line-height: 28px;
}
.footer__link a {
	color: #30495e;
}

.footer__description {
	color: black;
	background-color: #9290F8;
	font-size: 1.1rem;
	margin-right: 4px;
	padding: 0 6px 4px 6px;
	border-radius: 4px;
	line-height: 28px;
}


@media only screen and (min-width: 540px) {
	.div-shelf-support-top {
		width: 87%;
	}
	
	.header__logo {
		padding-left: 6px;
		padding-right: 6px;
	}
	.header__navbar li { 
		padding-left: 6px;
		padding-right: 6px;
	}
}

@media only screen and (min-width: 755px) {
	.footer {
		max-width:755px;
	}
	.div-shelf-support-bottom {
		width: 96%;
		max-width: 750px;
	}
	
	.description-section__app-title {
		font-size: 3.2rem;
	}
	.description-section__app-title span {
		font-size: 4.4rem;
	}
	
	.description-partition {
		width: 94%;
		max-width: 600px;
		margin-bottom: 50px;
	}
	
	.div-wall-ornament-acute1 {
		width: 34%;
	}
	.div-wall-ornament-acute2 {
		width: 24%;
	}
	.div-wall-ornament-acute3 {
		width: 14%;
	}
	
	.form-partition {
		margin-bottom: 0px;

	}
	
	.book-partitions-container {
		display: flex;
		align-items: end;
		max-width: 753px;
		margin: auto;
	}
}


@media only screen and (min-width: 880px) {
	.div-shelf-support-top {
		width: 77%;
		max-width: 1050px;
	}
}




