/* CSS RESET - meyerweb.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


body { 
	font-family: Roboto, Sans-serif; 
	background-color: #D4FABE; /*#f5e34752;*/
	color: #7d6969; /*#716c6c; #7d6969*/
}

p {
	color: black;
}

li {
	color: #5e2121;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.7rem;
}
h3 {
	font-size: 1.3rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}


.header {
	background-color: transparent; /* #1F2937;*/
	display: flex;
	justify-content: space-around;
	align-items: end;
	width: 98%;
	margin: auto;
}

.header__logo {
	background-color: #E99797;
	font-size: 1.2rem;
	margin-left: 3px;
	padding: 18px 2px;
}

.header__navbar {
	display: flex;
	justify-content: space-around;
}

.header__navbar li {
	background-color: #b9afaf; /*#D9D9D9;*/
	font-size: 1.1rem;
	margin-left: 4px;
	padding: 2px 2px 0 2px;
}
.header__navbar li:nth-child(2) {
	background-color: #9290F8;
}
.header__navbar li:nth-child(4) {
	background-color: #F6D493;
	margin-right: 3px;
}

.header__navbar a:hover, .footer__link a:hover {
	color: #3882F6; /*#49a6e9;*/
}


.div-support-top {
	background-color: #b9afaf;
	width: 97%;
	/* max-width: 475px; */
	height: 15px;
	margin: auto;
	border-radius: 5px;
}

.div-ornament-top {
	background-color: #F6D493;
	width: 64%;
	max-width: 221px;
	height: 10px;
	margin: auto;
}

.shelves {
	background-color: white; /*#b9afaf #f3c176;*/
	width: 90%;
	border-radius: 2px;
	margin: auto;
	padding: 4px 0;
}

.description-partition, .form-partition {
	background: radial-gradient(#ac7732 5%, #d19341 1%,  #b1762a 1%, #874e03);
	border-radius: 5px;
	margin: auto;
	padding: 16px 0;
}

.description-partition {
	width: 74%;
	min-width: 300px;
	max-width: 300px;
	margin-top: 0.5px;
	margin-bottom: 110px;
}

.description-partition__shelf {
	text-align: center;
	border: 2px solid #a18e72;
	border-radius:12px;
	padding: 8px 8px 4px 8px;
}

.description-partition__app-title {
	color: #5e6e5d; /* #5F7E7D;*/
	font-size: 2.2rem;
	padding: 8px;
}
.description-partition__app-title span {
	color: #9290F8;
	font-size: 3rem;
	font-weight: bold;
	
}

.description-partition__about-msg {
	line-height: 16px;
	text-align: center;
	/* padding-top: 2px; */
	cursor: pointer;
}

.description-partition__about-msg a {
	color: #9290F8;
}
.description-partition__about-msg a:hover {
	text-shadow: 1px 1px 2px #6b5534; /*#716fe2; #442f08;*/
}

.description-partition__ornament {
	background-color: #EDAEAE;
	height: 10px;
	margin-bottom: 5px;
}


.book-stack__icon {
	display: block;
	margin: auto;
	text-align: center;
}
.book-stack__icon a {
	color: #b9afaf;
}
.book-stack__icon a:hover {
	text-shadow: 2px 2px white;
}

.book-stack__ornament1 {
	background-color: #F6D493;
	width: 74%;
	height: 10px;
	margin: 0 auto 10px;
	border-radius: 4px;
}
.book-stack__ornament2 {
	background-color: #F6D493;
	width: 64%;
	height: 10px;
	margin: 0 auto 10px;
	border-radius: 4px;
}
.book-stack__ornament3 {
	background-color: #F6D493;
	width: 34%;
	height: 10px;
	margin: 0 auto 160px;
	border-radius: 4px;
}


.message-board {
	color: #efb1b1;
	font-weight: bold;
	background-color: #b5e67c; /*#CCCACA;*/
	text-align: center;
	width: 330px;
	height: 170px;
	margin: auto;
	padding: 12px 6px 6px 6px;
	border-radius: 20px;
	position: relative;
	bottom: 25px;	
	display: none;
    margin-bottom: 30px;
}

.message-board-validation {
	color: #efb1b1;
	font-weight: bold;
	margin-top: 5px;
	line-height: 30px;
}

.message-board-msg {
	color: #4a3100; /*#6765db #492727; #efb1b1;*/
	font-weight: bold;
	margin-top: 5px;
	line-height: 30px;
}


.form-partition {
	margin-bottom: 110px;
	width: 96%;
	max-width: 331px;
}

.form-partition__shelf {
	display: block;
	width: 90%;
	margin: auto;
}

.form-partition__required-field {
	color: #e02525;
}

.form-partition__desc {
	color: #695425;
	text-align: center;
	margin: 10px 0 30px;;
}

.form-partition__shelf label {
	color: #5e4c4c;
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.form-partition__shelf input[type="text"] {
	display: block;
	width: 100%;
	margin: 5px 0 20px 0;
}

.form-partition__shelf input[type="number"] {
	width: 25%;
	margin-bottom: 10px;
}

.form-partition__shelf input[type="checkbox"] {
	margin-bottom: 35px;
}

.form-partition__btn {
	display: block;
	margin: 0 auto 10px;
	
}


.booklist-partition {
	background-color: #fff9c9; /*#F6D493;*/
	overflow: auto;
}

.booklist-partition__shelf {
	margin-bottom: 20px;
	padding-top: 20px;
}

.booklist-partition__book {
	background-color: #484787; /*#E99797; #6c2f2f;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 108px;
	max-height: 120px;
	border: 2px solid #9c6006;
	border-radius:12px;
	padding: 0 6px;
	margin: 0 auto 1px;
	max-width: 370px; 
	/*370 * 2 = 740 / 370 * 3 = 1100*/
}

.booklist-partition__book:last-child {
	margin-bottom: 0;
}

.booklist-partition__icon {
	width: 54px;
	height: 54px;
}

.booklist-partition__book-content {
	width: 220px;
}

.booklist-partition__title {
	color: #F6D493; /*#af5959;*/
	margin-bottom: 2px;
}

.booklist-partition__author {
	color: #b9afaf;
	margin-bottom: 1px;
}

.booklist-partition__pages {
	color: #8f8c8c; /*#9290F8;*/
	font-size: 0.9rem;
	margin-bottom: 5px;
}

.booklist-partition__book-not-read {
	color: #eb9e9e; /*#8f8c8c;*/
	background-color: #87444469;
	border-radius: 6px;
	padding: 1px 5px;
}
.booklist-partition__book-read {
	color: #443939;
	background-color: #d4fabea6; /*#D4FABE;*/
	border-radius: 6px;
	padding: 1px 5px;
}

.booklist-partition__remove-btn {
	color: #b9afaf;
	background-color: #87444491;
	border: 1px solid #b9afaf;
	border-radius: 4px;
}



.div-support-bottom {
	background-color: #b9afaf;
	height: 4px;
}

.footer {
	background-color: #9290F8;
}

.footer__link {
	color: #30495e;
	background-color: #b9afaf; /*#D9D9D9;*/
	font-size: 1.1rem;
	padding: 0 6px 4px 6px;
	border-radius: 10px;
	line-height: 28px;
}
.footer__link a {
	color: #30495e;
}

.footer__description {
	color: black;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 3px 10px 4px 3px;
	line-height: 28px;
	text-align: right;
}


@media only screen and (min-width: 540px) {
	.div-shelf-support-top {
		width: 87%;
	}
	
	.header__logo {
		padding-left: 6px;
		padding-right: 6px;
	}
	.header__navbar li { 
		font-size: 1.2rem;
		padding-left: 6px;
		padding-right: 6px;
	}
	
	.description-partition {
		max-width: 330px;
	}
	.description-partition__app-title {
		font-size: 2.2rem;
	}
	.description-partition__app-title span {
		font-size: 3.2rem;
	}
	
	
	.booklist-partition__shelf {
		display: flex;
		flex-wrap: wrap;
		/* max-width: 800px; */
	}
}

@media only screen and (min-width: 755px) {
	.description-partition {
		/* width: 94%; */
		max-width: 380px;
		margin-bottom: 50px;
	}
	.description-partition__app-title {
		font-size: 2.6rem;
	}
	.description-partition__app-title span {
		font-size: 4rem;
	}
	
	.book-stack__ornament1 {
		width: 34%;
	}
	.book-stack__ornament2 {
		width: 24%;
	}
	.book-stack__ornament3 {
		width: 14%;
	}
	
	
	
}


@media only screen and (min-width: 1010px) {
	.div-support-top {
		width: 77%;
		max-width: 1050px;
	}
	
	.description-partition {
		width: 94%; 
		max-width: 700px;
		/* margin-bottom: 50px; */
	}
	.description-partition__app-title {
		font-size: 2.8rem;
		padding: 14px;
	}
	.description-partition__app-title span {
		font-size: 4.2rem;
	}
}




